#product-carousel-container {
  position: relative;
  width: 50%;
  margin: auto;
}

#product-carousel {
  height: 45vw;
  margin: 20px 0 0;
  list-style: none;
  position: relative;
}
#product-carousel li {
  position: absolute;
  left: 35%;
  top: 0;
  width: 30%;
  height: 100%;
  padding: 0;
  cursor: pointer;
  transition: -webkit-transform 1.3s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 1.3s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 1.3s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 1.3s cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 1;
}
#product-carousel li.item-1 {
  z-index: 2;
  -webkit-transform: translateX(-50%) scale(1) translate3d(0, 0, 0);
          transform: translateX(-50%) scale(1) translate3d(0, 0, 0);
}
#product-carousel li.item-2 {
  z-index: 1;
  -webkit-transform: translateX(-50%) scale(0.7) translate3d(240%, -10%, 0);
          transform: translateX(-50%) scale(0.7) translate3d(240%, -10%, 0);
}
#product-carousel li.item-3 {
  z-index: 0;
  -webkit-transform: translateX(-50%) scale(0.5) translate3d(180%, -31%, 0);
          transform: translateX(-50%) scale(0.5) translate3d(180%, -31%, 0);
}
#product-carousel li.item-4 {
  z-index: 0;
  -webkit-transform: translateX(-50%) scale(0.5) translate3d(-180%, -31%, 0);
          transform: translateX(-50%) scale(0.5) translate3d(-180%, -31%, 0);
}
#product-carousel li.item-5 {
  z-index: 1;
  -webkit-transform: translateX(-50%) scale(0.7) translate3d(-240%, -10%, 0);
          transform: translateX(-50%) scale(0.7) translate3d(-240%, -10%, 0);
}
#product-carousel li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 100%;
  height: 100%;
  background: url(https://www.7up.com/images/bottle-shadow.png) no-repeat 50% 85%;
  background-size: 100% auto;
}
#product-carousel li:hover img {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}
#product-carousel li:not(:hover) img {
  transition: -webkit-transform .075s ease-out;
  transition: transform .075s ease-out;
  transition: transform .075s ease-out, -webkit-transform .075s ease-out;
}
#product-carousel li img {
  width: 200%;
  height: auto;
  margin-top: 50%;
  transition: -webkit-transform .25s ease-in;
  transition: transform .25s ease-in;
  transition: transform .25s ease-in, -webkit-transform .25s ease-in;
}

#product-carousel-nav .carousel-nav {
  position: absolute;
  top: 45%;
  width: 50px;
  height: 50px;
  border-top: 2px solid #df8a51;
  border-right: 2px solid #df8a51;
  border-bottom: none;
  border-left: none;
  background-color: transparent;
  outline: 0;
  cursor: pointer;
}
#product-carousel-nav .carousel-nav.prev {
  left: -35%;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
#product-carousel-nav .carousel-nav.next {
  right: -35%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#carousel-dots {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 2;
}
#carousel-dots ul {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
#carousel-dots ul li {
  display: inline-block;
  margin: 0 15px;
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 100%;
  cursor: pointer;
  transition: all 0.5s;
}
#carousel-dots ul li.active {
  background-color: #df8a51;
  width: 15px;
  border-radius: 40%;
}
